
body{

    background-color: #E5E5E5;

}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;


    margin-left: 80px;
    margin-bottom: 50px;

}
.entradaTexto{

    top: 0px;
    background-color: #E5E5E5;
   
}
.boton :hover{
    background-color: aquamarine;
}

.mensaje{

    position: absolute;
    width: 300px;
    height: 500px;
    
    top: 60px;
    
    background-image: url("Muñeco.jpg");
    background-repeat: no-repeat;    
    background-position: 40px;    
    background-size: 180px;
    

}
.copiar{

    position: relative;
    margin-top: 1000%;
    margin-left: 250%;
    padding: 2px;
    width: 100%;


}
.encriptar{

    padding: 24PX;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0a3871;
}

   

.Desencriptar{

    padding: 24PX;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #d8dfe8;
}

